{#
/**
 * @file
 * Default theme implementation to display a paragraph in Bootstrap Paragraphs.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('bootstrap_paragraphs/bootstrap-paragraphs') }}

{# Renders Width field. #}
{# Sets class name from values in database. #}
{% if content.bp_width|render %}
  {% set layout_width = content.bp_width['#items'].getString() %}
  {% set layout_width_classes = [
    'paragraph--width--tiny' == layout_width ? 'paragraph--width--tiny',
    'paragraph--width--narrow' == layout_width ? 'paragraph--width--narrow',
    'paragraph--width--medium' == layout_width ? 'paragraph--width--medium',
    'paragraph--width--wide' == layout_width ? 'paragraph--width--wide',
    'paragraph--width--full' == layout_width ? 'paragraph--width--full',
  ]
  %}
{% endif %}


{# Renders alignment field. #}
{# Sets class name from values in database. #}
{% if content.field_alignment|render %}
  {% set layout_al = content.field_alignment['#items'].getString() %}
  {% set layout_al_classes = [
    'paragraph--alignment paragraph--alignment-top' == layout_al ? 'paragraph--alignment paragraph--alignment-top',
    'paragraph--alignment paragraph--alignment-right' == layout_al ? 'paragraph--alignment paragraph--alignment-right',
    'paragraph--alignment paragraph--alignment-bottom' == layout_al ? 'paragraph--alignment paragraph--alignment-bottom',
    'paragraph--alignment paragraph--alignment-left' == layout_al ? 'paragraph--alignment paragraph--alignment-left',
  ]
  %}
{% endif %}

{# Renders Background field. #}
{# Sets class name from values in database. #}
{% if content.bp_background|render %}
  {% set layout_background = content.bp_background['#items'].getString() %}
  {% set layout_background_classes = [
    'paragraph--color color__brand-green--strong' == layout_background ? 'paragraph--color color__brand-green--strong',
    'paragraph--color color__brand-green--light' == layout_background ? 'paragraph--color color__brand-green--light',
    'paragraph--color color__brand-green--slight' == layout_background ? 'paragraph--color color__brand-green--slight',
    'paragraph--color color__brand-slate--strong' == layout_background ? 'paragraph--color color__brand-slate--strong',
    'paragraph--color color__brand-slate--light' == layout_background ? 'paragraph--color color__brand-slate--light',
    'paragraph--color color__brand-slate--slight' == layout_background ? 'paragraph--color color__brand-slate--slight',
    'paragraph--color color__brand-silver--strong' == layout_background ? 'paragraph--color color__brand-silver--strong',
    'paragraph--color color__brand-silver--light' == layout_background ? 'paragraph--color color__brand-silver--light',
    'paragraph--color color__brand-silver--slight' == layout_background ? 'paragraph--color color__brand-silver--slight',
    'paragraph--color color__brand-orange--strong' == layout_background ? 'paragraph--color color__brand-orange--strong',
    'paragraph--color color__brand-orange--light' == layout_background ? 'paragraph--color color__brand-orange--light',
    'paragraph--color color__brand-orange--slight' == layout_background ? 'paragraph--color color__brand-orange--slight',
    'paragraph--color color__brand-brown--strong' == layout_background ? 'paragraph--color color__brand-brown--strong',
    'paragraph--color color__brand-brown--light' == layout_background ? 'paragraph--color color__brand-brown--light',
    'paragraph--color color__brand-brown--slight' == layout_background ? 'paragraph--color color__brand-brown--slight',
    'paragraph--color color__brand-blue--strong' == layout_background ? 'paragraph--color color__brand-blue--strong',
    'paragraph--color color__brand-blue--light' == layout_background ? 'paragraph--color color__brand-blue--light',
    'paragraph--color color__brand-blue--slight' == layout_background ? 'paragraph--color color__brand-blue--slight',
    'paragraph--color color__white--strong' == layout_background ? 'paragraph--color color__white--strong',
    'paragraph--color color__white--light' == layout_background ? 'paragraph--color color__white--light',
    'paragraph--color color__white--slight' == layout_background ? 'paragraph--color color__white--slight',
    'paragraph--color color__black--strong' == layout_background ? 'paragraph--color color__black--strong',
    'paragraph--color color__black--light' == layout_background ? 'paragraph--color color__black--light',
    'paragraph--color color__black--slight' == layout_background ? 'paragraph--color color__black--slight',
    'paragraph--color color__evening--strong' == layout_background ? 'paragraph--color color__evening--strong',
    'paragraph--color color__evening--light' == layout_background ? 'paragraph--color color__evening--light',
    'paragraph--color color__evening--slight' == layout_background ? 'paragraph--color color__evening--slight',
    'paragraph--color color__charcoal--strong' == layout_background ? 'paragraph--color color__charcoal--strong',
    'paragraph--color color__charcoal--light' == layout_background ? 'paragraph--color color__charcoal--light',
    'paragraph--color color__charcoal--slight' == layout_background ? 'paragraph--color color__charcoal--slight',
    'paragraph--color color__blackboard--strong' == layout_background ? 'paragraph--color color__blackboard--strong',
    'paragraph--color color__blackboard--light' == layout_background ? 'paragraph--color color__blackboard--light',
    'paragraph--color color__blackboard--slight' == layout_background ? 'paragraph--color color__blackboard--slight',
    'paragraph--color color__grey-sand--strong' == layout_background ? 'paragraph--color color__grey-sand--strong',
    'paragraph--color color__grey-sand--light' == layout_background ? 'paragraph--color color__grey-sand--light',
    'paragraph--color color__grey-sand--slight' == layout_background ? 'paragraph--color color__grey-sand--slight',
    'paragraph--color color__sleek-grey--strong' == layout_background ? 'paragraph--color color__sleek-grey--strong',
    'paragraph--color color__sleek-grey--light' == layout_background ? 'paragraph--color color__sleek-grey--light',
    'paragraph--color color__sleek-grey--slight' == layout_background ? 'paragraph--color color__sleek-grey--slight',
    'paragraph--color color__lemon-grass--strong' == layout_background ? 'paragraph--color color__lemon-grass--strong',
    'paragraph--color color__lemon-grass--light' == layout_background ? 'paragraph--color color__lemon-grass--light',
    'paragraph--color color__lemon-grass--slight' == layout_background ? 'paragraph--color color__lemon-grass--slight',
    'paragraph--color color__walnut--strong' == layout_background ? 'paragraph--color color__walnut--strong',
    'paragraph--color color__walnut--light' == layout_background ? 'paragraph--color color__walnut--light',
    'paragraph--color color__walnut--slight' == layout_background ? 'paragraph--color color__walnut--slight',
    'paragraph--color color__beige--strong' == layout_background ? 'paragraph--color color__beige--strong',
    'paragraph--color color__beige--light' == layout_background ? 'paragraph--color color__beige--light',
    'paragraph--color color__beige--slight' == layout_background ? 'paragraph--color color__beige--slight',
    'paragraph--color color__spice--strong' == layout_background ? 'paragraph--color color__spice--strong',
    'paragraph--color color__spice--light' == layout_background ? 'paragraph--color color__spice--light',
    'paragraph--color color__spice--slight' == layout_background ? 'paragraph--color color__spice--slight',
    'paragraph--color color__brick-red--strong' == layout_background ? 'paragraph--color color__brick-red--strong',
    'paragraph--color color__brick-red--light' == layout_background ? 'paragraph--color color__brick-red--light',
    'paragraph--color color__brick-red--slight' == layout_background ? 'paragraph--color color__brick-red--slight',
    'paragraph--color color__scarlet--strong' == layout_background ? 'paragraph--color color__scarlet--strong',
    'paragraph--color color__scarlet--light' == layout_background ? 'paragraph--color color__scarlet--light',
    'paragraph--color color__scarlet--slight' == layout_background ? 'paragraph--color color__scarlet--slight',
    'paragraph--color color__cognac--strong' == layout_background ? 'paragraph--color color__cognac--strong',
    'paragraph--color color__cognac--light' == layout_background ? 'paragraph--color color__cognac--light',
    'paragraph--color color__cognac--slight' == layout_background ? 'paragraph--color color__cognac--slight',
    'paragraph--color color__tiger-orange--strong' == layout_background ? 'paragraph--color color__tiger-orange--strong',
    'paragraph--color color__tiger-orange--light' == layout_background ? 'paragraph--color color__tiger-orange--light',
    'paragraph--color color__tiger-orange--slight' == layout_background ? 'paragraph--color color__tiger-orange--slight',
    'paragraph--color color__wheat--strong' == layout_background ? 'paragraph--color color__wheat--strong',
    'paragraph--color color__wheat--light' == layout_background ? 'paragraph--color color__wheat--light',
    'paragraph--color color__wheat--slight' == layout_background ? 'paragraph--color color__wheat--slight',
    'paragraph--color color__sunflower--strong' == layout_background ? 'paragraph--color color__sunflower--strong',
    'paragraph--color color__sunflower--light' == layout_background ? 'paragraph--color color__sunflower--light',
    'paragraph--color color__sunflower--slight' == layout_background ? 'paragraph--color color__sunflower--slight',
    'paragraph--color color__lemon--strong' == layout_background ? 'paragraph--color color__lemon--strong',
    'paragraph--color color__lemon--light' == layout_background ? 'paragraph--color color__lemon--light',
    'paragraph--color color__lemon--slight' == layout_background ? 'paragraph--color color__lemon--slight',
    'paragraph--color color__eggplant--strong' == layout_background ? 'paragraph--color color__eggplant--strong',
    'paragraph--color color__eggplant--light' == layout_background ? 'paragraph--color color__eggplant--light',
    'paragraph--color color__eggplant--slight' == layout_background ? 'paragraph--color color__eggplant--slight',
    'paragraph--color color__grape--strong' == layout_background ? 'paragraph--color color__grape--strong',
    'paragraph--color color__grape--light' == layout_background ? 'paragraph--color color__grape--light',
    'paragraph--color color__grape--slight' == layout_background ? 'paragraph--color color__grape--slight',
    'paragraph--color color__ink--strong' == layout_background ? 'paragraph--color color__ink--strong',
    'paragraph--color color__ink--light' == layout_background ? 'paragraph--color color__ink--light',
    'paragraph--color color__ink--slight' == layout_background ? 'paragraph--color color__ink--slight',
    'paragraph--color color__sky-blue--strong' == layout_background ? 'paragraph--color color__sky-blue--strong',
    'paragraph--color color__sky-blue--light' == layout_background ? 'paragraph--color color__sky-blue--light',
    'paragraph--color color__sky-blue--slight' == layout_background ? 'paragraph--color color__sky-blue--slight',
    'paragraph--color color__pacific-blue--strong' == layout_background ? 'paragraph--color color__pacific-blue--strong',
    'paragraph--color color__pacific-blue--light' == layout_background ? 'paragraph--color color__pacific-blue--light',
    'paragraph--color color__pacific-blue-slight' == layout_background ? 'paragraph--color color__pacific-blue--slight',
    'paragraph--color color__aqua--strong' == layout_background ? 'paragraph--color color__aqua--strong',
    'paragraph--color color__aqua--light' == layout_background ? 'paragraph--color color__aqua--light',
    'paragraph--color color__aqua--slight' == layout_background ? 'paragraph--color color__aqua--slight',
    'paragraph--color color__pastel-blue--strong' == layout_background ? 'paragraph--color color__pastel-blue--strong',
    'paragraph--color color__pastel-blue--light' == layout_background ? 'paragraph--color color__pastel-blue--light',
    'paragraph--color color__pastel-blue--slight' == layout_background ? 'paragraph--color color__pastel-blue--slight',
    'paragraph--color color__ice--strong' == layout_background ? 'paragraph--color color__ice--strong',
    'paragraph--color color__ice--light' == layout_background ? 'paragraph--color color__ice--light',
    'paragraph--color color__ice--slight' == layout_background ? 'paragraph--color color__ice--slight',
    'paragraph--color color__forest--strong' == layout_background ? 'paragraph--color color__forest--strong',
    'paragraph--color color__forest--light' == layout_background ? 'paragraph--color color__forest--light',
    'paragraph--color color__forest--slight' == layout_background ? 'paragraph--color color__forest--slight',
    'paragraph--color color__neon-green--strong' == layout_background ? 'paragraph--color color__neon-green--strong',
    'paragraph--color color__neon-green--light' == layout_background ? 'paragraph--color color__neon-green--light',
    'paragraph--color color__neon-green--slight' == layout_background ? 'paragraph--color color__neon-green--slight',
    'paragraph--color color__cucumber--strong' == layout_background ? 'paragraph--color color__cucumber--strong',
    'paragraph--color color__cucumber--light' == layout_background ? 'paragraph--color color__cucumber--light',
    'paragraph--color color__cucumber--slight' == layout_background ? 'paragraph--color color__cucumber--slight',
    'paragraph--color color__fern--strong' == layout_background ? 'paragraph--color color__fern--strong',
    'paragraph--color color__fern--light' == layout_background ? 'paragraph--color color__fern--light',
    'paragraph--color color__fern--slight' == layout_background ? 'paragraph--color color__fern--slight',
    'paragraph--color color__mineral-green--strong' == layout_background ? 'paragraph--color color__mineral-green--strong',
    'paragraph--color color__mineral-green--light' == layout_background ? 'paragraph--color color__mineral-green--light',
    'paragraph--color color__mineral-green--slight' == layout_background ? 'paragraph--color color__mineral-green--slight',
    'paragraph--color color__pine-needle--strong' == layout_background ? 'paragraph--color color__pine-needle--strong',
    'paragraph--color color__pine-needle--light' == layout_background ? 'paragraph--color color__pine-needle--light',
    'paragraph--color color__pine-needle--slight' == layout_background ? 'paragraph--color color__pine-needle--slight',
    'paragraph--color color__corduroy--strong' == layout_background ? 'paragraph--color color__corduroy--strong',
    'paragraph--color color__corduroy--light' == layout_background ? 'paragraph--color color__corduroy--light',
    'paragraph--color color__corduroy--slight' == layout_background ? 'paragraph--color color__corduroy--slight',
    'paragraph--color color__sea-foam--strong' == layout_background ? 'paragraph--color color__sea-foam--strong',
    'paragraph--color color__sea-foam--light' == layout_background ? 'paragraph--color color__sea-foam--light',
    'paragraph--color color__sea-foam--slight' == layout_background ? 'paragraph--color color__sea-foam--slight',
    'paragraph--color color__clear' == layout_background ? 'paragraph--color color__clear',

    'paragraph--color paragraph--color--rgba-black-slight' == layout_background ? 'paragraph--color paragraph--color--rgba-black-slight',
    'paragraph--color paragraph--color--rgba-black-light' == layout_background ? 'paragraph--color paragraph--color--rgba-black-light',
    'paragraph--color paragraph--color--rgba-black-strong' == layout_background ? 'paragraph--color paragraph--color--rgba-black-strong',
    'paragraph--color paragraph--color--rgba-blue-slight' == layout_background ? 'paragraph--color paragraph--color--rgba-black-strong',
    'paragraph--color paragraph--color--rgba-blue-light' == layout_background ? 'paragraph--color paragraph--color--rgba-blue-light',
    'paragraph--color paragraph--color--rgba-blue-strong' == layout_background ? 'paragraph--color paragraph--color--rgba-blue-strong',
    'paragraph--color paragraph--color--rgba-bluegrey-slight' == layout_background ? 'paragraph--color paragraph--color--rgba-bluegrey-slight',
    'paragraph--color paragraph--color--rgba-bluegrey-light' == layout_background ? 'paragraph--color paragraph--color--rgba-bluegrey-light',
    'paragraph--color paragraph--color--rgba-bluegrey-strong' == layout_background ? 'paragraph--color paragraph--color--rgba-bluegrey-strong',
    'paragraph--color paragraph--color--rgba-brown-slight' == layout_background ? 'paragraph--color paragraph--color--rgba-brown-slight',
    'paragraph--color paragraph--color--rgba-brown-light' == layout_background ? 'paragraph--color paragraph--color--rgba-brown-light',
    'paragraph--color paragraph--color--rgba-brown-strong' == layout_background ? 'paragraph--color paragraph--color--rgba-brown-strong',
    'paragraph--color paragraph--color--rgba-cyan-slight' == layout_background ? 'paragraph--color paragraph--color--rgba-cyan-slight',
    'paragraph--color paragraph--color--rgba-cyan-light' == layout_background ? 'paragraph--color paragraph--color--rgba-cyan-light',
    'paragraph--color paragraph--color--rgba-cyan-strong' == layout_background ? 'paragraph--color paragraph--color--rgba-cyan-strong',
    'paragraph--color paragraph--color--rgba-green-slight' == layout_background ? 'paragraph--color paragraph--color--rgba-green-slight',
    'paragraph--color paragraph--color--rgba-green-light' == layout_background ? 'paragraph--color paragraph--color--rgba-green-light',
    'paragraph--color paragraph--color--rgba-green-strong' == layout_background ? 'paragraph--color paragraph--color--rgba-green-strong',
    'paragraph--color paragraph--color--rgba-grey-slight' == layout_background ? 'paragraph--color paragraph--color--rgba-grey-slight',
    'paragraph--color paragraph--color--rgba-grey-light' == layout_background ? 'paragraph--color paragraph--color--rgba-grey-light',
    'paragraph--color paragraph--color--rgba-grey-strong' == layout_background ? 'paragraph--color paragraph--color--rgba-grey-strong',
    'paragraph--color paragraph--color--rgba-indigo-slight' == layout_background ? 'paragraph--color paragraph--color--rgba-indigo-slight',
    'paragraph--color paragraph--color--rgba-indigo-light' == layout_background ? 'paragraph--color paragraph--color--rgba-indigo-light',
    'paragraph--color paragraph--color--rgba-indigo-strong' == layout_background ? 'paragraph--color paragraph--color--rgba-indigo-strong',
    'paragraph--color paragraph--color--rgba-lime-slight' == layout_background ? 'paragraph--color paragraph--color--rgba-lime-slight',
    'paragraph--color paragraph--color--rgba-lime-light' == layout_background ? 'paragraph--color paragraph--color--rgba-lime-light',
    'paragraph--color paragraph--color--rgba-lime-strong' == layout_background ? 'paragraph--color paragraph--color--rgba-lime-strong',
    'paragraph--color paragraph--color--rgba-orange-slight' == layout_background ? 'paragraph--color paragraph--color--rgba-orange-slight',
    'paragraph--color paragraph--color--rgba-orange-light' == layout_background ? 'paragraph--color paragraph--color--rgba-orange-light',
    'paragraph--color paragraph--color--rgba-orange-strong' == layout_background ? 'paragraph--color paragraph--color--rgba-orange-strong',
    'paragraph--color paragraph--color--rgba-pink-slight' == layout_background ? 'paragraph--color paragraph--color--rgba-pink-slight',
    'paragraph--color paragraph--color--rgba-pink-light' == layout_background ? 'paragraph--color paragraph--color--rgba-pink-light',
    'paragraph--color paragraph--color--rgba-pink-strong' == layout_background ? 'paragraph--color paragraph--color--rgba-pink-strong',
    'paragraph--color paragraph--color--rgba-purple-slight' == layout_background ? 'paragraph--color paragraph--color--rgba-purple-slight',
    'paragraph--color paragraph--color--rgba-purple-light' == layout_background ? 'paragraph--color paragraph--color--rgba-purple-light',
    'paragraph--color paragraph--color--rgba-purple-strong' == layout_background ? 'paragraph--color paragraph--color--rgba-purple-strong',
    'paragraph--color paragraph--color--rgba-red-slight' == layout_background ? 'paragraph--color paragraph--color--rgba-red-slight',
    'paragraph--color paragraph--color--rgba-red-light' == layout_background ? 'paragraph--color paragraph--color--rgba-red-light',
    'paragraph--color paragraph--color--rgba-red-strong' == layout_background ? 'paragraph--color paragraph--color--rgba-red-strong',
    'paragraph--color paragraph--color--rgba-stylish-slight' == layout_background ? 'paragraph--color paragraph--color--rgba-stylish-slight',
    'paragraph--color paragraph--color--rgba-stylish-light' == layout_background ? 'paragraph--color paragraph--color--rgba-stylish-light',
    'paragraph--color paragraph--color--rgba-stylish-strong' == layout_background ? 'paragraph--color paragraph--color--rgba-stylish-strong',
    'paragraph--color paragraph--color--rgba-teal-slight' == layout_background ? 'paragraph--color paragraph--color--rgba-teal-slight',
    'paragraph--color paragraph--color--rgba-teal-light' == layout_background ? 'paragraph--color paragraph--color--rgba-teal-light',
    'paragraph--color paragraph--color--rgba-teal-strong' == layout_background ? 'paragraph--color paragraph--color--rgba-teal-strong',
    'paragraph--color paragraph--color--rgba-white-slight' == layout_background ? 'paragraph--color paragraph--color--rgba-white-slight',
    'paragraph--color paragraph--color--rgba-white-light' == layout_background ? 'paragraph--color paragraph--color--rgba-white-light',
    'paragraph--color paragraph--color--rgba-white-strong' == layout_background ? 'paragraph--color paragraph--color--rgba-white-strong',
    'paragraph--color paragraph--color--rgba-yellow-slight' == layout_background ? 'paragraph--color paragraph--color--rgba-yellow-slight',
    'paragraph--color paragraph--color--rgba-yellow-light' == layout_background ? 'paragraph--color paragraph--color--rgba-yellow-light',
    'paragraph--color paragraph--color--rgba-yellow-strong' == layout_background ? 'paragraph--color paragraph--color--rgba-yellow-strong',
    'paragraph--color--transparent' == layout_background ? 'paragraph--color--transparent',
    'paragraph--color paragraph--color--primary' == layout_background ? 'paragraph--color paragraph--color--primary',
    'paragraph--color paragraph--color--secondary' == layout_background ? 'paragraph--color paragraph--color--secondary',
    'paragraph--color paragraph--color--success' == layout_background ? 'paragraph--color paragraph--color--success',
    'paragraph--color paragraph--color--info' == layout_background ? 'paragraph--color paragraph--color--info',
    'paragraph--color paragraph--color--warning' == layout_background ? 'paragraph--color paragraph--color--warning',
    'paragraph--color paragraph--color--danger' == layout_background ? 'paragraph--color paragraph--color--danger',
    'paragraph--color paragraph--color--bluegloss' == layout_background ? 'paragraph--color paragraph--color--bluegloss',
    'paragraph--color paragraph--color--greygloss' == layout_background ? 'paragraph--color paragraph--color--greygloss',
    'paragraph--color paragraph--color--black3d' == layout_background ? 'paragraph--color paragraph--color--black3d',
  ]
  %}
{% endif %}

{# The template default set classes. #}
{%
set classes = [
'paragraph__card',
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}

{# Merges Width field with classes. #}
{% set width_field = content.bp_width|render %}
{% if width_field %}
  {% set classes = classes|merge(layout_width_classes) %}
{% endif %}

{# Merges alignment field with classes. #}
{% set al_field = content.field_alignment|render %}
{% if al_field %}
  {% set classes = classes|merge(layout_al_classes) %}
{% endif %}

{# Merges Background field with classes. #}
{% set background_field = content.bp_background|render %}
{% if background_field %}
  {% set classes = classes|merge(layout_background_classes) %}
{% endif %}

{% if content.field_title_color|render|striptags|trim %}
{# Prints div with classes, and content without Width and Background. #}
<div{{ attributes.addClass(classes) }}>
  <div class="paragraph__column">
    <div class="paragraph__title {{ content.field_title_color[0] }} {{ content.field_title_alignment[0] }}" >
    {{ content.field_card_title }}
    </div>
      {{ content.field_card_body|without('bp_width', 'bp_background','field_alignment', 'field_title_alignment') }}
      {{ content.field_card_background_image }}
  </div>
</div>
{% else %}
<div{{ attributes.addClass(classes) }}>
  <div class="paragraph__column">
    <div class="paragraph__title {{ content.field_title_alignment[0] }}">
      {{ content.field_card_title }}
    </div>
      {{ content.field_card_body|without('bp_width', 'bp_background','field_alignment', 'field_title_alignment') }}
      {{ content.field_card_background_image }}
  </div>
</div>
{% endif %}


