{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @ingroup templates
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
  {{ q }}
{% endif %}

<div class="search-page--container form--inline form-inline clearfix">
  <div id="searchForm" class="search-page--wrapper">
    {#<div class="row">#}
    {#<div class="col-sm-12">#}
    <div class="search-page__search--wrapper">
      <div class="search-page__input input-group">
        <div class="search-page__input--field">
          {{ form.search }}
        </div>
        <div class="search-page__button--submit input-group-btn">
          {{ form.actions.submit }}
        </div>
        <div class="search-page__button--reset input-group-btn">
          {{ form.actions.reset }}
        </div>
      </div>
    </div>
    {#</div>#}
    {#</div>#}
    <div class="search-page--refine-wrapper">
      {# <p>Refine Search Results</p> #}
      <div class="row">
        <div class="col-md-7">
          <div class="col-md-1">
          <div class="search-page__list--type">
            {{ form.field_article_type }}
          </div>
          </div>
          <div class="col-md-8 col-md-offset-3">
          <div class="search-page__input--tags">
            {{ form.field_article_tags }}
          </div>
          </div>
        </div>
        <div id="dateRange" class="search-page__date col-md-5">
          <div class="search-page__date--title">
            Date Range
          </div>
          {{ form.created }}
          {{ form.created_lt }}
          <button id="submit-date-range" class="btn btn-default button--date-range" type="submit" value="Apply">Apply</button>
        </div>
      </div>
    </div>
  </div>
</div>
